<div id="<%= dom_id experiment %>">
  <p>
    <strong>Primary:</strong>
    <%= experiment.primary %>
  </p>

  <p>
    <strong>User:</strong>
    <%= experiment.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= experiment.title %>
  </p>

</div>
